.favorite-list-container {
  padding: 20px;
  height: 700px;
  width: 100%;
  background-color: #646464;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  scrollbar-color: none;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
.not-favorite{
  height: 400px;
  width: 100%;
  text-align: center;
}

.favorite-card{
  width: 80%;
  height: 150px;
  margin: 10px;
  padding: 10px;
  background-color: #949292;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.episode-info{
  display: flex;
  gap: 10px;
  width: 70%;
  height: 35px;
  justify-content: start;
}

h5{
  cursor: pointer;
  transform: color 0.3s ease;
}

h5:hover {
  color: black;
  text-decoration: underline;
}

.characters-thumbnails {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.thumbnail:hover {
  border-color: #222222; /* color primario */
}