<div class="episodes-container">

  <div class="card-container">
  
    <div class="episode-card" *ngFor="let ep of displayedEpisodes" (click)="goToEpisode(ep.id)">
      <h5>Episode {{ ep.id }}</h5>
      <h4><span>{{ ep.name }}</span></h4>
      <div class="episode-details">
        <p>{{ ep.episode }}</p>
        <p>Air Date: {{ ep.air_date }}</p>
      </div>

      
      <mat-icon class="favorite-button" (click)="toggleFavorite(ep); $event.stopPropagation()">
        {{ isFavorite(ep.id) ? 'favorite' : 'favorite_border' }}
      </mat-icon>
  

    </div>
  
  </div>
  
  <app-paginator class="paginator"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    >
  </app-paginator>
  
</div>