<div class="profile-container">
  
  <div class="profile-card" *ngIf="user && !isEditing">
    
      <img [src]="user.profilePicture || 'https://ui-avatars.com/api/?name=' + user.name" 
            alt="Foto de perfil" 
            class="profile-img" 
            (error)="onViewImageError($event)"
      />
    
      <h2>{{ user.name }}</h2>
  <div class="profile-info">
    <p><strong>Name:</strong> {{user.name}}</p>
    <p><strong>Nickname:</strong> {{ user.nickname || '-' }}</p>
    <p><strong>Email:</strong> {{ user.mail }}</p>
    <p><strong>Birthdate:</strong> {{ user.birthday | date: 'longDate' }}</p>
    <p><strong>Location:</strong> {{ user.location || '-' }}</p>
  </div>
  
    <button (click)="isEditing = true">Editar perfil</button>
  </div> 
  
  <div class="profile-card" *ngIf="user && isEditing">
    <div class="profile-img-container">
      <img
        [src]="!imageError && profileForm.value.profilePicture
              ? profileForm.value.profilePicture
              : 'https://ui-avatars.com/api/?name=' + user.name"
        (error)="onImageError()"
        alt="Foto de perfil"
        class="profile-img"
      />
    </div>
  
    <h2>{{ user.name }}</h2>
    <form class="profile-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label>
        Nickname:
        <input formControlName="nickname" />
        <div class="error" *ngIf="nicknameError">{{ nicknameError }}</div>
      </label>
  
      <label>
        Profile picture (URL):
        <input formControlName="profilePicture" (input)="onImageInputChange()" />
        <div class="error" *ngIf="profilePictureError">{{ profilePictureError }}</div>
      </label>
  
      <label>
        Location:
        <input formControlName="location" />
        <div class="error" *ngIf="locationError">{{ locationError }}</div>
      </label>
  
      <div class="profile-form-actions">
        <button type="submit">Guardar cambios</button>
        <button type="button" (click)="isEditing = false">Cancelar</button>
      </div>
      
    </form>
  </div>

  <app-favorite-list></app-favorite-list>

</div>