<div *ngIf="isLoading">
  <p>Cargando datos...</p>
</div>

<div class="characterDetailContainer" *ngIf="!isLoading && character">
  <div class="characterWrapper">
    <div class="characteInfoCard">
      <img [src]="character.image" [alt]="character.name" />

      <div class="infoSection">
        <h3>Character Info</h3>
        <p>Name: {{ character.name }}</p>
        <p>Status: {{ character.status }}</p>
        <p>Species: {{ character.species }}</p>
        <p>Gender: {{ character.gender }}</p>
        <p>Origin: {{ character.origin?.name }}</p>
        <p>Location: {{ character.location?.name }}</p>
      </div>
    </div>

    
    <div class="episodeListContainer">

      <div class="episodeList">
        <h3>List of Episodes appearances</h3>
        <ul>
          <li
            *ngFor="
              let episode of showAllEpisodes ? episodes : episodes.slice(0, 21)
            "
          >
            <a [routerLink]="['/episode', episode.id]">
              Episode {{ episode.id }} - {{ episode.name }}
            </a>
          </li>
        </ul>
  
        <p
          *ngIf="episodes.length > 21 && !showAllEpisodes"
          (click)="showAllEpisodes = true"
        >
          (more)
        </p>
      </div>
    </div>
    </div>
</div>
