<section class="notf">

  <section class="notFoundContainer">
    <div class="notFoundContent">
    <img src="https://staticdelivery.nexusmods.com/mods/1151/images/528-0-1447526230.png" alt="Rick and Motry absorbing by a portal" />
    
    </div>
    <div class="background-spinner"></div>
  
    <div class="notFoundMessage">
      <p>The page you are trying to search has been moved to another universe</p>
      <button class="customBtn" routerLink="/home">Get Me Home</button>
    </div>
  </section>
</section>
