/* .searchContainer {
  width: 80%;
  margin-bottom: 2rem;
  display: flex;
  background-color: lightblue;
} */

input {
  width: 420px;
  border: none;
}

input::placeholder {
  color: rgb(190, 190, 190);
}

@media screen and (max-width: 500px) {
  .searchWrapper {
    width: 100%;
  }
  .searchForm {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  input {
    max-width: 260px;
  }
}