<nav>
  <ul class="navOptions">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/home">Rick & Morty</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/home/characters">Characters</a>
    </li>
    <li routerLinkActive="active">
      <a >Locations</a>
    </li>
    <li routerLinkActive="active">
      <a >Episodes</a>
    </li>
  </ul>

  <ul class="navUser">
    <li><a  routerLinkActive="active">Profile</a></li>
    <li><a  routerLinkActive="active">Logout</a></li>
  </ul>
</nav>
