<section class="register-container">
  <div
    class="register-form bg-dark text-white p-4 rounded shadow"
    style="max-width: 900px"
  >
    <h2 class="text-center mb-4">Register</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="col-md-6">
        <label for="fullName" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="fullName"
          formControlName="name"
          placeholder="Cosme Fulanito"
          data-cy="register-name"
        />

        <div class="text-danger" style="min-height: 1.5em">{{ nameError }}</div>
      </div>

      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          formControlName="mail"
          placeholder="example@example.com"
          data-cy="register-mail"
        />

        <div class="text-danger">{{ mailError }}</div>
      </div>

      <div formGroupName="passwordGroup" class="col-md-6">
        <label for="inputPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
          data-cy="register-password"
        />

        <div class="text-danger" style="min-height: 1.5em">{{ passwordError || '' }}</div>
      </div>

      <div formGroupName="passwordGroup" class="col-md-6">
        <label for="inputRepeatPassword" class="form-label"
          >Repeat Password</label
        >
        <input
          type="password"
          class="form-control"
          id="inputRepeatPassword"
          formControlName="repeatPassword"
          data-cy="register-repeat-password"
        />

        <div class="text-danger">{{ passwordGroupError || '' }}</div>
      </div>

      <div formGroupName="address" class="address">
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            formControlName="street"
            placeholder="Apartment, studio or floor"
            data-cy="register-street"
          />

          
          <small class="text-danger" style="min-height: 1.5em;" *ngIf="getAddressError('street')">
            {{ getAddressError("street") || ''  }}
          </small>
          
        </div>

        <div class="col-md-5">
          <label for="inputCity" class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            id="inputCity"
            formControlName="city"
            data-cy="register-city"
          />

          <small class="text-danger"  style="min-height: 1.5em;"  *ngIf="getAddressError('city')">
            {{ getAddressError("city")  || '' }}
          </small>
        </div>

        <div class="col-md-3">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select" formControlName="country" data-cy="register-country">
            <option value=""></option>
            <option>Argentina</option>
            <option>Other</option>
          </select>

          <small class="text-danger"  style="min-height: 1.5em;"  *ngIf="getAddressError('country')">
            {{ getAddressError("country") || ''  }}
          </small>
        </div>

        <div class="col-md-3">
          <label for="inputZip" class="form-label">Zip</label>
          <input
            type="text"
            class="form-control"
            id="inputZip"
            formControlName="cp"
            data-cy="register-cp"
          />

          
            <small class="text-danger"  style="min-height: 1.5em;"  *ngIf="getAddressError('cp')">
              {{ getAddressError("cp")  || ''  }}
            </small>
          
        </div>
      </div>

      <div class="col-12">
        <button type="submit" data-cy="register-submit" class="btn btn-primary registrar">Sign Up</button>
      </div>

      <hr />
      <div class="col-12 text-center pt-3 loged-user">
        <a [routerLink]="'/auth/login'" class="text-primary small d-block"
          >Already Signed Up? Sing In</a
        >
      </div>
    </form>
  </div>
</section>
