<section class="charactersContainer" data-cy="characters-container">

  <app-search
    class="searchContainer"
    (search)="handleSearch($event)"
  ></app-search>

  <div class="wrapperContainer">
    <p class="mt-3" *ngIf="noResults">
      Oops.. There is no character named "{{ searchTerm }}"
    </p>
    <div
      class="card custom-card"
      *ngFor="let character of characters"
      (click)="goToDetail(character.id)"
      data-cy="character-card"
    >
      <img
        [src]="character.image"
        class="card-img-top character-img"
        [alt]="character.name"
      />
      <div class="card-body">
        <h5 class="card-title text-white">{{ character.name }}</h5>
      </div>
    </div>
  </div>
</section>

<div class="paginationContainer">
  <app-paginator
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="handlePageChange($event)"
  ></app-paginator>
</div>
