.episode-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center ;
  justify-content: center;
  gap: 3rem;
  background-color: #1f1f1f;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  height: 590px;
  margin-bottom: 2rem;
}

.box {
  padding: 1.5rem;
  width: 47%;
  height: 550px;
  border-radius: 10px;
  color: #ccc;
  border: solid 1px #818181;
  position: relative;
}

.box mat-icon{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 32px;
  height: auto;
  width: auto;
}

.episode-title{
  font-size: 1.2rem;
}

.characters-list{
  height: 430px;
  overflow-y: auto;
  scrollbar-color: none;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  transition: max-height 0.3s ease;
}

h3 {
  border-bottom: 1px solid #818181;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #aaa;
}

a {
  color: #3fa9f5;
  text-decoration: none;

}
a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1.2rem;
  list-style: none;
}

li {
  margin-bottom: 0.4rem;
}

.comments-section{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}