<div class="episode-detail" *ngIf="episode">
  <div class="box">
    <h3>Info of the episode</h3>
    <mat-icon
      (click)="toggleFavorite()"
      [ngClass]="{ favorited: isFavorite }"
    >
      {{ isFavorite ? 'favorite' : 'favorite_border' }}
    </mat-icon>
    <p class="episode-title"><strong>Name:</strong> {{ episode.name }}</p>
    <p><strong>Air date:</strong> {{ episode.air_date }}</p>
    <p><strong>Episode code:</strong> {{ episode.episode }}</p>
  </div>

  <div class="box">
    <h3>Characters in this episode</h3>
    <ul class="characters-list">
      <li *ngFor="let char of characters">
        <a [routerLink]="['/home/characters', char.id]">{{ char.name }}</a>
      </li>
    </ul>
    
  </div>
</div>

<div class="comments-section">
  <app-comments *ngIf="episode" [episodeId]="episode.id"></app-comments>
</div>
